*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav{
    height: 90px;
    width: 100vw;
    background-color: #ED242E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}
.nav .nav-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    list-style-type: none;
}
.nav .nav-menu li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.nav .nav-menu li a:hover{
    color: black;
}
.nav-search{
    height: 90px;
    width: 90px;
    background-color: #00132B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.covido-logo{
   position: absolute;
   top: 60px;
   left: 730px;
}
.nav-user{
    height: 90px;
    width: 90px;
    background-color: #00132B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-us{
    height: 800px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}
.contact-us-data{
    height: 500px;
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}
.contact-us-data h1{
    color: #353D47;
    font-size: 42px;
}
.contact-us-data input{
    height: 65px;
    width: 95%;
    border: 1px solid  #353D47;
    padding-left: 10px;
    font-size: 20px;
    padding-top: 10px;
}
.contact-us-data textarea{
    height: 190px;
    width: 95%;
    padding-left: 10px;
    font-size: 20px;
    padding-top: 30px;
}
.contact-us-location{
    height: 500px;
    width: 40%;
    background-size: cover;
}
.contact-us-location .address{
    height: 100%;
    width: 100%;
}
.footer{
    height: 400px;
    width: 100%;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 100px;
}
.footer-section{
    height: 350px;
    width: 200px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}
.footer-section2{
    height: 350px;
    width: 300px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 15px;
    flex-direction: column;
}
.footer-section3{
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 40px;
    flex-direction: column;
}
.footer-section1{
    height: 350px;
    width: 320px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    flex-direction: column;
}
.footer-section h2{
color: white;
}
.footer-section span{
    color: #666666;
    font-size: 20px;
}
.footer-section span a{
    color: #666666;
    text-decoration: none;
}
.footer-section1 h2{
color: white;
}
.footer-section1 span{
color: white;
font-weight: 400;
font-size: 20px;
}
.footer-section2 h2{
color: white;
}
.footer-section2 span{
color: white;
font-weight: 400;
font-size: 20px;
}
.footer-section2 p{
color: white;
font-weight: 400;
}
.footer-section3 h2{
color: white;
}
.footer-section3 span{
color: white;
}
.footer-section2  .marker{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.footer-section2 .phone{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.copyright{
    height: 80PX;
    width: 50%;
    display: flex;
    background-color: #111111;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-top: 1px solid #fff;
}
.copyright a{
    text-decoration: none;
    color: #fff ;
}
.footer-main{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #111111;
}
.space-footer-take-action{
    height: 100px;
    width: 100vw;
    background-color: white;
}
