*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav{
    height: 90px;
    width: 100vw;
    background-color: #ED242E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}
.nav .nav-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    list-style-type: none;
}
.nav .nav-menu li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.nav .nav-menu li a:hover{
    color: black;
}
.nav-search{
    height: 90px;
    width: 90px;
    background-color: #00132B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.covido-logo{
   position: absolute;
   top: 60px;
   left: 730px;
}
.nav-user{
    height: 90px;
    width: 90px;
    background-color: #00132B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 100vh;
    width: 100vw;
    background: url(photos/banner.png);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left:230px;
}
.container h1{
    font-size: 110px;
    color: white;
}
.container-buttons{
    display: flex;
    gap: 10px;
    padding-top: 50px;
}
.container-buttons button{
    height: 60px;
    width: 200px;
    font-size: 20px;
    color: #00132B;
    cursor: pointer;
    border: none;
}
.container-buttons button:hover{
    background-color: #ED242E;
    transition: ease-in-out 0.8s;
    color: white;
}
.container-slider-button{
    height: 80px;
    width: 80px;
    background-color: #ED242E;
    border-radius: 50%;
    position: absolute;
    top: 50;
    left:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.container-slider-button:hover{
    background-color: #fff;
    transition: ease-in-out 0.8s;
    color: #ED242E;
}
.container-slider-button1:hover{
    background-color: #fff;
    transition: ease-in-out 0.8s;
   color: #ED242E;
}
.container-slider-button1{
    height: 80px;
    width: 80px;
    background-color: #ED242E;
    border-radius: 50%;
    position: absolute;
    top: 50;
    right:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
/* container1 close */
.about{
    height: 620px;
    width: 90%;
    background-color: #fff;
    border-radius: 70px;
   margin-top: -90px;
    box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18);
    display: flex;
}
.about .about-text{
    height: 100%;
    width: 55%;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    color:#353D47;
    font-size: 25px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    padding-top: 160px;
    padding-left: 100px;
}
.about-text-line{
    width: 110px;
    height: 10px;
    background-color: #ED242E;
    border-radius: 20px;
}
.about-text p{
    font-size: 17px;
    padding-top: 30px;
}
.about-text button{
    height: 70px;
    width: 250px;
    font-size: 17px;
    background-color: #05254D;
    color:#fff ;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.about-text a{
    text-decoration: none;
}
.about-text button:hover{
    background-color: #ED242E;
    transition: ease-in-out 0.8s;
}
.about .about-img{
    height: 100%;
    width: 45%;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    background-image: url(photos/about\ img.png);
    background-repeat: no-repeat;
    background-size: 80% , 80%;
    background-position: center;
}
.container1{
    height: 600px;
    width: 80%;
    display: flex;
    padding-top: 100px;
}
.container1-girl-img{
    height: 100%;
    width: 55%;
  
background-image: url(photos/corona\ girl.png);
background-size: contain;
background-repeat: no-repeat;
background-position: 0 0px ;
}
.container1-text{
    height: 100%;
    width: 45%; 
    display: flex;
    flex-direction: column;
   padding-left: 100px;
}
.container1-text h1{
    font-size: 45px;
    color: #353D47;
}
.container1-text p{
    width: 400px;
    padding-top: 40px;
}
.container1-text button{
    height: 70px;
    width: 200px;
    font-size: 17px;
    background-color: #00132B;
    color:#fff ;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
     text-decoration: none;
     border: none;
}
.container1-text a{
    text-decoration: none;
}
.container1-text button:hover{
    background-color: #ED242E;
    transition: ease-in-out 0.8s;
}
.protact-container{
height: 100px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: #666666 ;
}
.protact-container h1{
    font-size: 40px;
    color:#353D47 ;
}
.protact-bg{
    margin-top: 50px;
    height: 600px;
    width: 100%;
    background-image: url(photos/project-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}
.protact-bg .protact-bg-items{
    height: 75%;
    width: 350px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;

}
.protact-bg-items-text{
    height: 290px;
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
   padding-top: 30px;
}
.protact-bg-items-text img{
    height: 90px;
    width: 90px;
    object-fit: contain;
}
.protact-bg-items-text span{
    padding-left: 20px;
    padding-top:30px;
}
.protact-bg-items a button{
    height: 50px;
    width: 150px;
    font-size: 17px;
    background-color: #05254D;
    color:#fff ;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
     text-decoration: none;
     cursor: pointer;
     border: none;
}
.protact-bg-items a {
    text-decoration: none;
}
.protact-bg-items button:hover{
 background-color: #ED242E;
 transition: ease-in-out 0.8s;
}
.protact-bg-items-search{
    height: 80px;
    width: 80px;
    background-color: #ED242E;
    border-radius: 50%;
    position: absolute;
    top: 93%;
   left: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; 
}
.protact-bg-items-search1{
    height: 80px;
    width: 80px;
    background-color: #ED242E;
    border-radius: 50%;
    position: absolute;
    top: 93%;
    right: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.protact-bg-items-search:hover{
    background-color: #05254D;
    transition: ease-in-out 0.8s;
}
.protact-bg-items-search1:hover{
    background-color:#05254D;
    transition: ease-in-out 0.8s;
}
.coronavirus-cases{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    color: #666666 ;
    padding-top: 80px;
    position: relative;
}
.coronavirus-cases h1{
        font-size: 40px;
        color:#353D47 ;
}
.coronavirus-cases p{
    padding-bottom: 40px;
    color: #666666 ;
}
.coronavirus-cases-container{
    height: 650px;
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  background-color: #FEFEFE;
}
.coronavirus-cases-container-case{
    height: 570px;
    width: 450px;
    background-color: #fff;
    box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18); 
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.photos-case1-button button {
    height: 50px;
    width: 150px;
    font-size: 17px;
    background-color: #05254D;
    color:#fff ;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
     text-decoration: none;
     cursor: pointer;
     border: none;
     position: absolute;
     top: 300px;
     left: 190px;
}
.photos-case1-button button:hover{
    background-color: #ED242E;
    transition: ease-in-out 0.8s;
   }
.photos-cases2-button button {
    height: 50px;
    width: 150px;
    font-size: 17px;
    background-color: #05254D;
    color:#fff ;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
     text-decoration: none;
     cursor: pointer;
     border: none;
     position: absolute;
     top: 300px;
     left: 690px;
}
.photos-cases2-button button:hover{
    background-color: #ED242E;
    transition: ease-in-out 0.8s;
   }
.photos-cases3-button button {
    height: 50px;
    width: 150px;
    font-size: 17px;
    background-color: #05254D;
    color:#fff ;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
     text-decoration: none;
     cursor: pointer;
     border: none;
     position: absolute;
     top: 300px;
     right: 190px;
}
.photos-cases3-button  button:hover{
    background-color: #ED242E;
    transition: ease-in-out 0.8s;
   }
.coronavirus-cases-container-case img{
    height: 270px;
    width: 400px;
    padding-top: 25px;
}
.coronavirus-cases-container-case span{
    width: 390px;
    padding-top: 20px;
    color: #666666 ;

}
.coronavirus-cases-container-case h1{
    font-size: 32px;
    padding-top: 29px;
}
.coronavirus-cases-container-case .corona-icon{
    height: 100px;
    width: 100px;
    object-fit: contain;
    position: absolute;
   bottom: 0;
}
.doctor-says{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.doctor-says h1{
    font-size: 50px;
    color:#353D47 ;
    padding-top: 40px;
    padding-bottom: 30px;
}
.about-doctors{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
}
.about-doctor-data{
    height: 400px;
    width: 550px;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18); 
}
.about-doctor-data span{
    width: 500px; 
    color: #666666 ;
    padding-top: 30px;
}
.about-doctor-data h2{
    font-size: 30px;
    color:#353D47 ;
    padding-top: 100px;
}
.about-doctor-data-do{
    padding-top: 50px;
}
.about-doctor-data-doctor-img img{
    border-radius: 50%;
    position: absolute;
    top: -55px;
    left: 230px;
    box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18); 
}
.img-container img{
 height: 120px;
 width: 120px;
 position: absolute;
top: 80px;
right: 85px;
}
.get-update{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.get-update h1{
    font-size: 50px;
    color:#353D47;
}
.get-update img{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 150px;
}           
.subscribe{
    height: 335px;
    width: 100%;
    background-image: url(photos/ever_bg.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.subscribe-email {
    height: 90px;
    width: 80%;
    border-radius: 50px;
    font-size: 28px;
    background-color: transparent;
    border:0.6px solid white;
    color: white;
    text-align: center;
    margin-top: 20px;
}
.subscribe-email::placeholder{
    color: white;
    font-size: 25px;
}
.subscribe button {
        height: 80px;
        width: 350px;
        font-size: 17px;
        background-color: #05254D;
        color:#fff ;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        border-radius: 50px;
}
.subscribe button:hover{
    background-color: #ED242E;
    transition: ease-in-out 0.8s;
}
/* footer start */
.footer{
    height: 400px;
    width: 100%;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 100px;

}
.footer-section{
    height: 350px;
    width: 200px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}
.footer-section2{
    height: 350px;
    width: 300px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 15px;
    flex-direction: column;
}
.footer-section3{
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 40px;
    flex-direction: column;
}
.footer-section1{
    height: 350px;
    width: 320px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    flex-direction: column;
}
.footer-section h2{
color: white;
}
.footer-section span{
    color: #666666;
    font-size: 20px;
}
.footer-section span a{
    color: #666666;
    text-decoration: none;
}
.footer-section1 h2{
color: white;
}
.footer-section1 span{
color: white;
font-weight: 400;
font-size: 20px;
}
.footer-section2 h2{
color: white;
}
.footer-section2 span{
color: white;
font-weight: 400;
font-size: 20px;
}
.footer-section2 p{
color: white;
font-weight: 400;
}
.footer-section3 h2{
color: white;
}
.footer-section3 span{
color: white;
}
.footer-section2  .marker{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.footer-section2 .phone{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.copyright{
    height: 80PX;
    width: 50%;
    display: flex;
    background-color: #111111;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-top: 1px solid #fff;
}
.copyright a{
    text-decoration: none;
    color: #fff ;
}
.footer-main{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #111111;
}
 
