*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav{
    height: 90px;
    width: 100vw;
    background-color: #ED242E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}
.nav .nav-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    list-style-type: none;
}
.nav .nav-menu li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.nav .nav-menu li a:hover{
    color: black;
}
.nav-search{
    height: 90px;
    width: 90px;
    background-color: #00132B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.covido-logo{
   position: absolute;
   top: 60px;
   left: 730px;
}
.nav-user{
    height: 90px;
    width: 90px;
    background-color: #00132B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-coronavirus-nav{
    height: 200px;
    width: 100vw;
    background-color: #fff;
}
.coronavirus-cases{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    color: #666666 ;
    padding-top: 80px;
    position: relative;
}
.coronavirus-cases h1{
        font-size: 40px;
        color:#353D47 ;
}
.coronavirus-cases p{
    padding-bottom: 40px;
    color: #666666 ;
}
.coronavirus-cases-container{
    height: 650px;
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  background-color: #FEFEFE;
}
.coronavirus-cases-container-case{
    height: 570px;
    width: 450px;
    background-color: #fff;
    box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18); 
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.photos-case1-button button {
    height: 50px;
    width: 150px;
    font-size: 17px;
    background-color: #05254D;
    color:#fff ;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
     text-decoration: none;
     cursor: pointer;
     border: none;
     position: absolute;
     top: 300px;
     left: 190px;
}
.photos-case1-button button:hover{
    background-color: #ED242E;
    transition: ease-in-out 0.8s;
   }
.photos-cases2-button button {
    height: 50px;
    width: 150px;
    font-size: 17px;
    background-color: #05254D;
    color:#fff ;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
     text-decoration: none;
     cursor: pointer;
     border: none;
     position: absolute;
     top: 300px;
     left: 690px;
}
.photos-cases2-button button:hover{
    background-color: #ED242E;
    transition: ease-in-out 0.8s;
   }
.photos-cases3-button button {
    height: 50px;
    width: 150px;
    font-size: 17px;
    background-color: #05254D;
    color:#fff ;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
     text-decoration: none;
     cursor: pointer;
     border: none;
     position: absolute;
     top: 300px;
     right: 190px;
}
.photos-cases3-button  button:hover{
    background-color: #ED242E;
    transition: ease-in-out 0.8s;
   }
.coronavirus-cases-container-case img{
    height: 270px;
    width: 400px;
    padding-top: 25px;
}
.coronavirus-cases-container-case span{
    width: 390px;
    padding-top: 20px;
    color: #666666 ;

}
.coronavirus-cases-container-case h1{
    font-size: 32px;
    padding-top: 29px;
}
.coronavirus-cases-container-case .corona-icon{
    height: 100px;
    width: 100px;
    object-fit: contain;
    position: absolute;
   bottom: 0;
}
.doctor-says{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.doctor-says h1{
    font-size: 50px;
    color:#353D47 ;
    padding-top: 40px;
    padding-bottom: 30px;
}
.about-doctors{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
}
.about-doctor-data{
    height: 400px;
    width: 550px;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18); 
}
.about-doctor-data span{
    width: 500px; 
    color: #666666 ;
    padding-top: 30px;
}
.about-doctor-data h2{
    font-size: 30px;
    color:#353D47 ;
    padding-top: 100px;
}
.about-doctor-data-do{
    padding-top: 50px;
}
.about-doctor-data-doctor-img img{
    border-radius: 50%;
    position: absolute;
    top: -55px;
    left: 230px;
    box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18); 
}
.footer{
    height: 400px;
    width: 100%;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 100px;
}
.footer-section{
    height: 350px;
    width: 200px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}
.footer-section2{
    height: 350px;
    width: 300px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 15px;
    flex-direction: column;
}
.footer-section3{
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 40px;
    flex-direction: column;
}
.footer-section1{
    height: 350px;
    width: 320px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    flex-direction: column;
}
.footer-section h2{
color: white;
}
.footer-section span{
    color: #666666;
    font-size: 20px;
}
.footer-section span a{
    color: #666666;
    text-decoration: none;
}
.footer-section1 h2{
color: white;
}
.footer-section1 span{
color: white;
font-weight: 400;
font-size: 20px;
}
.footer-section2 h2{
color: white;
}
.footer-section2 span{
color: white;
font-weight: 400;
font-size: 20px;
}
.footer-section2 p{
color: white;
font-weight: 400;
}
.footer-section3 h2{
color: white;
}
.footer-section3 span{
color: white;
}
.footer-section2  .marker{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.footer-section2 .phone{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.copyright{
    height: 80PX;
    width: 50%;
    display: flex;
    background-color: #111111;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-top: 1px solid #fff;
}
.copyright a{
    text-decoration: none;
    color: #fff ;
}
.footer-main{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #111111;
}
.space-footer-take-action{
    height: 100px;
    width: 100vw;
    background-color: white;
}
